<!--ユーザの詳細-->

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<!--ユーザの投稿一覧-->
<% @books.each do |book| %>
<div>
  <%= book.title %>
  <%= book.body %>

</div>